<div ng-controller="dashCtrl">
  <div class="header">
    <div class="row control-panel">
      <div class="col-xs-3">
        <button class="btn btn-circle" ng-click="AddFood()"><i class="zmdi zmdi-plus"></i></button>
      </div>
      <div class="col-xs-9">
        <button class="logout-btn btn default-btn" ng-click="Logout()">Logout</button>
      </div>
    </div>
    <a href="#"><img class="logo" src="assets/images/logo.png"/></a>
  </div>
  <div class="menu">
    <div class="carousel fade-carousel slide container mb20" data-ride="carousel" data-interval="1000" id="bs-carousel">
      <!-- Overlay -->
      <div class="overlay"></div>

      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#bs-carousel" data-slide-to="1"></li>
        <li data-target="#bs-carousel" data-slide-to="2"></li>
      </ol>
      
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item slides active">
          <div class="slide-1">
            <img src="https://www.cooky.vn/imgs/Ads/cha-ca-la-vong.jpg">
          </div>
        </div>
        <div class="item slides">
          <div class="slide-2">
            <img src="https://www.cooky.vn/imgs/Ads/cha-ca-la-vong.jpg">
          </div>
        </div>
        <div class="item slides">
          <div class="slide-3">
            <img src="https://www.cooky.vn/imgs/Ads/cha-ca-la-vong.jpg">
          </div>
        </div>
      </div> 
    </div>
    <div class="container cate-list">
        <div data-ng-repeat="c in categories" class="col-xs-2 " ng-click="CateSelected($event)" stt="{{$index}}">
          <div class="cate-content" stt="{{$index}}">

            <div class="cate-text" stt="{{$index}}">
              <img class="cate-icon" src="assets/images/icon{{$index}}.png" stt="{{$index}}">
              <p  stt="{{$index}}">
                 {{c.name}}
              </p>
             
            </div>
            <img class="cate-img" stt="{{$index}}" src="{{c.image}}"/>
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-body">
        <h3 class="mb20 cate-title">CÔNG THỨC CHẾ BIẾN</h3>
        <div data-ng-repeat="f in foods" class="col-xs-3 mb10">
          <div class="food-content" fid="{{f._id}}" ng-click="FoodSelected($event)">
            <img class="food-img"  fid="{{f._id}}" src="{{f.image}}"/>
            <p class="food-text" fid="{{f._id}}">{{f.name}}</p>
          </div>
          <i class="zmdi zmdi-star {{f.isFavourite}}" ng-click="Like($index)" fid="{{f._id}}">{{f.favourite.length}}</i>
        </div>
      </div>

    </div>

  </div>
</div>
